###########################################################################
#                              cpp snippets                               #
###########################################################################

extends c

snippet for "for" !w
for (int ${2:i}=0; i<${1:COUNT}; ${3:++i}) {
    ${0}
}
endsnippet

snippet cout "cout <<" !w
cout << "${1:TEXT}" << endl;
${0}
endsnippet
